[Desktop Entry]
Name=PINCE
Comment=Reverse engineering tool for Linux games
Exec=pince %U
Path=/usr/share/PINCE
Icon=pince
Terminal=true
Type=Application
Categories=Development;Utility;Qt;
